@import "settings";
@import "foundation";

ul, li{
	padding: 0;
	margin: 0;
}

ul li,
ul li.leaf,
ul li.collapsed,
ul li.expanded{
	list-style: none;
	background-image: none;
}

.sub-nav{
	a{
		display: block;
	}
}

table{
	width: 100%;
	input[type="file"],
	input[type="checkbox"],
	input[type="radio"],
	select{
		margin: 0;
	}	
}